[user]
	name = EstebanForge
	email = 1696145+EstebanForge@users.noreply.github.com

[core]
	excludesFile = ~/.config/git/ignore
	fileMode = false
	pager = delta
	ignorecase = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[init]
	defaultBranch = main

[interactive]
	diffFilter = delta --color-only

[merge]
	conflictStyle = zdiff3

[delta]
	navigate = true
	dark = true

# https://stackoverflow.com/questions/79583325/how-to-make-github-desktop-use-ssh-by-default
[url "git@github.com:"]
	pushInsteadOf = https://github.com/
	pushInsteadOf = git://github.com/
