[user]
	name = EstebanForge
	email = 1696145+EstebanForge@users.noreply.github.com

[core]
	excludesFile = ~/.config/git/ignore
	pager = delta
	ignorecase = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[init]
	defaultBranch = main

[interactive]
	diffFilter = delta --color-only

[merge]
	conflictStyle = zdiff3

[delta]
	navigate = true
	dark = true

# https://stackoverflow.com/questions/79583325/how-to-make-github-desktop-use-ssh-by-default
[url "git@github.com:"]
	pushInsteadOf = https://github.com/
	pushInsteadOf = git://github.com/
[safe]
	directory = /System/Volumes/Data/mnt/Zenless/Dev/EstebanForge/construct-cli
	directory = /System/Volumes/Data/mnt/Zenless/Dev/EstebanForge/Baluard
	directory = /System/Volumes/Data/mnt/Zenless/Dev/Wicket/asae-website-wordpress/src
	directory = /System/Volumes/Data/mnt/Zenless/Dev/EstebanForge/dotfiles-x
	directory = /System/Volumes/Data/mnt/Zenless/Dev/EstebanForge/pi-hostname
	directory = /System/Volumes/Data/mnt/Zenless/Dev/Wicket/wicket-wp-stack/atlas
	directory = /System/Volumes/Data/mnt/Zenless/Dev/Wicket/wicket-wp-stack/qa
	directory = /System/Volumes/Data/mnt/Zenless/Dev/Wicket/wicket-wp-stack/src/web/app/themes/wicket-wp-theme
	directory = /System/Volumes/Data/mnt/Zenless/Dev/Wicket/wicket-wp-stack/src/web/app/plugins/wicket-wp-base-plugin
	directory = /System/Volumes/Data/mnt/Zenless/Dev/Wicket/wicket-wp-stack/src/web/app/plugins/wicket-wp-account-centre
	directory = /System/Volumes/Data/mnt/Zenless/Dev/Wicket/wicket-wp-stack/src/web/app/plugins/wicket-wp-admin-org-roster
	directory = /System/Volumes/Data/mnt/Zenless/Dev/Wicket/wicket-wp-stack/src/web/app/plugins/wicket-wp-financial-fields
	directory = /System/Volumes/Data/mnt/Zenless/Dev/Wicket/wicket-wp-stack/src/web/app/plugins/wicket-wp-gravity-forms
	directory = /System/Volumes/Data/mnt/Zenless/Dev/Wicket/wicket-wp-stack/src/web/app/plugins/wicket-wp-guest-checkout
	directory = /System/Volumes/Data/mnt/Zenless/Dev/Wicket/wicket-wp-stack/src/web/app/plugins/wicket-wp-importer
	directory = /System/Volumes/Data/mnt/Zenless/Dev/Wicket/wicket-wp-stack/src/web/app/plugins/wicket-wp-memberships
	directory = /System/Volumes/Data/mnt/Zenless/Dev/Wicket/wicket-wp-stack/src/web/app/plugins/wicket-wp-new-order-wizard
	directory = /System/Volumes/Data/mnt/Zenless/Dev/Wicket/wicket-wp-stack/src/web/app/plugins/wicket-wp-portus
	directory = /System/Volumes/Data/mnt/Zenless/Dev/Wicket/wicket-wp-stack/src/web/app/plugins/wicket-wp-rejeffined-admin
	directory = /System/Volumes/Data/mnt/Zenless/Dev/Wicket/wicket-wp-stack/src/web/app/plugins/wicket-wp-reporter
	directory = /System/Volumes/Data/mnt/Zenless/Dev/Wicket/wicket-wp-stack/src/web/app/plugins/wicket-wp-woo-order-status-limits
	directory = /System/Volumes/Data/mnt/Zenless/Dev/Wicket/wicket-cli-atlas
	directory = /System/Volumes/Data/mnt/Zenless/Dev/Wicket/wicket-cli-tools
	directory = /System/Volumes/Data/mnt/Zenless/Dev/Wicket/wicket-matrix-operator
	directory = /System/Volumes/Data/mnt/Zenless/Dev/Wicket/wicket-mdp-dark-mode
	directory = /System/Volumes/Data/mnt/Zenless/Dev/Wicket/wicket-memberships-test
	directory = /System/Volumes/Data/mnt/Zenless/Dev/Wicket/wicket-qa-studio
	directory = /System/Volumes/Data/mnt/Zenless/Dev/Wicket/wicket-sdk-php-next
	directory = /System/Volumes/Data/mnt/Zenless/Dev/Wicket/wordpress-baseline
	directory = /System/Volumes/Data/mnt/Zenless/Dev/Wicket/oba-website-wordpress
	directory = /System/Volumes/Data/mnt/Zenless/Dev/Wicket/chfa-website-wordpress
	directory = /System/Volumes/Data/mnt/Zenless/Dev/Wicket/cchl-website-wordpress
	directory = /System/Volumes/Data/mnt/Zenless/Dev/Wicket/njbia-website-wordpress
	directory = /System/Volumes/Data/mnt/Zenless/Dev/EstebanForge/AGENTS
	directory = /System/Volumes/Data/mnt/Zenless/Dev/Wicket/escrs-website-wordpress
	directory = /System/Volumes/Data/mnt/Zenless/Dev/Wicket/msa-website-wordpress
	directory = /System/Volumes/Data/mnt/Zenless/Dev/EstebanForge/elgit
	directory = /System/Volumes/Data/mnt/Zenless/Dev/Wicket/csae-portal-wordpress
	directory = /System/Volumes/Data/mnt/Zenless/Dev/EstebanForge/pi-zendesk-me
