[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Esteban
	email = esteban@attitude.cl
[core]
	excludesFile = ~/.gitignore_global
	fileMode = false
[init]
	defaultBranch = main
